<p>Pour que la visite se déroule au mieux, merci de respecter les consignes suivantes :</p>
<ul>
  <li><strong>Imprimez ce courriel en autant d’exemplaires que de sous-groupes prévus dans la journée.</strong> Il constitue votre billet d’entrée et pourra être demandé pour accéder aux conférences et animations.</li>
  <li><strong>Présentez-vous 15 minutes avant le début des conférences.</strong> Les places non occupées pourront être réattribuées.</li>
  <li>Respectez les horaires de démarrage des ateliers et animations : les animateurs ne pourront pas attendre les groupes en retard.</li>
  <li>En tant qu’encadrant, nous comptons sur vous pour veiller au respect des consignes de sécurité et de courtoisie sur ce salon.</li>
</ul>
<p>À partir du lundi 21 septembre, contactez Louise Le Moing au <strong>06 22 68 23 91</strong> (pas par courriel).</p>
<p>À bientôt à Retiers !</p>
